<html>
<title>{% if legislator.official_full %}{{ legislator.official_full}}{% else %}{% endif %}</title>
<body style="width:{{ preview_width }}px; height:{{ preview_height }}px;">
<div style="height: 45px;">
<b>{{ legislator.official_full}}</b>
<br>{% if legislator.birthday %}born {{ legislator.birthday|date:"n/j/Y" }};{% endif %} see <a href="http://bioguide.congress.gov/scripts/biodisplay.pl?index={{ legislator.bioguide }}" target="null">bioguide</a>
</div>
<div style="height:195px; overflow:auto;">
{% for term in terms %}
<br>{{ term.chamber }} [{{term.party}}]: {{ term.start|date:"Y" }}-{{ term.end|date:"Y" }} {{ term.state }}{% if term.district %} District {{term.district}}{% endif %}
{% endfor %}
</div>
</body>
</html>